<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="viajes && viajes.length > 0">
    <ion-card *ngFor="let viaje of viajes">
      <ion-card-header>
        {{ viaje.nombreUsuario }}
      </ion-card-header>
      <ion-card-content>
        <ion-text>Origen: {{ viaje.origen }}</ion-text><br>
        <ion-text>Destino: {{ viaje.destino }}</ion-text><br>
        <ion-text>Valor: {{ viaje.valor }}</ion-text><br>
        <ion-text>Cantidad asientos: {{ viaje.cantidadAsientos }}</ion-text><br>
        <ion-text>Fecha: {{ viaje.fecha }}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-note *ngIf="!viajes || viajes.length === 0">No hay viajes disponibles.</ion-note>

  <ion-button expand="full" color="primary" type="submit" routerLink="/perfil-pasajero">
    Volver
  </ion-button>
</ion-content>