<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/icon/TeLLevare.png" alt="Logo de TeLLevoApp" class="logo-img">

    <strong>TeLLevoApp</strong>
    <!-- Botones con estilo de formulario de Ionic -->
    <ion-button class="ion-margin-vertical" expand="full"
    routerLink="/registrar-pasajero">Registrarse</ion-button>
  
    
    <!-- Botón de inicio de sesión con estilo de formulario de Ionic -->
    <ion-button class="ion-margin-top" expand="full" 
    color="primary" routerLink="/inicio">Iniciar Sesión</ion-button>
  </div>
</ion-content>

  
    
    